<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<form method="POST" action="{% url 'add-subscription' %}" id="order_form">

    {% csrf_token %}

    <h1 class="h6 text-uppercase font-weight-bold mb-4">{{ subscription.subscription_type }}</h1>
    <h2 class="h1 font-weight-bold">$ {{ subscription.price }}<span class="text-small font-weight-normal ml-2">/ month</span></h2>

    <div class="custom-separator my-4 mx-auto bg-primary"></div>

    <input type="hidden" name="subscription_id" value="{{ subscription.id }}">

	<div id="paypal-button-container"></div> 
</form>

<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=AYnXZ0HWoLhctzZVd6B6_v48k0sriuBm_2Hf_Hs67dDldUMOTbMKUpYY9GEArSIFfi-RYaIBsw4e9kRA&currency=USD"></script>

<script>
    // Render the PayPal button into #paypal-button-container

    paypal.Buttons({

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '{{ subscription.price }}'
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(orderData) {
                // Successful capture! For demo purposes:
                console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];
                alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                // Replace the above to show a success message within this page, e.g.
                // const element = document.getElementById('paypal-button-container');
                // element.innerHTML = '';
                // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                // Or go to another URL:  actions.redirect('thank_you.html');
                document.getElementById("order_form").submit();
            });
        }


    }).render('#paypal-button-container');
</script>

</body>
</html>